<h3>Search for Foods</h3>
    <%= form_with url: foods_path, method: :get, local: true do |f| %>
      <%= f.label :search_field %>
      <%= f.text_field :search_field %>
      <%= f.submit 'Find Foods' %>
    <% end %>